
software/regbrains/test_svm/texture_007.jpg_9pts.mat

software/regbrains/test_svm/texture_040.jpg_9pts.mat

software/regbrains/test_svm/texture_047.jpg_9pts.mat

software/regbrains/test_svm/texture_165.jpg_9pts.mat

software/regbrains/test_svm/texture_170.jpg_9pts.mat

software/regbrains/test_svm/texture_192.jpg_9pts.mat

software/regbrains/test_svm/texture_301.jpg_9pts.mat
